version: "3.0"

services:
  backend:
    volumes:
      - ./backend/.dockervenv:/src/.venv
      - ./backend:/src
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - 8000:8000
  db:
    image: mysql:8.0
    platform: linux/x86_64 # M1 Macの場合必要
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes" # rootアカウントをパスワードなしで作成
      MYSQL_DATABASE: "polor"
      TZ: "Asia/Tokyo" # タイムゾーンを日本時間に設定
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password # MySQL8.0ではデフォルトが"caching_sha2_password"で、ドライバが非対応のため変更
    ports:
      - 33306:3306 # ホストマシンのポート33306を、docker内のポート3306に接続する
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - ./frontend:/src
    command: sh -c "npm run dev"
    ports:
      - "3000:3000"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  mysql_data:
